$color_hover: rgba(95, 60, 28, 0.776);
$fondo_gradient: linear-gradient(135deg, rgba(235, 206, 20, 0.838), rgba(255, 132, 0, 0.781), orange, rgba(255, 106, 0, 0.798), rgba(235, 10, 10, 0.741));
$color_header_footer:  rgba(248, 139, 43, 0.791);
$color_fondo: rgba(252, 222, 184, 0.927);