
@import "scss/partials/_variables.scss";
@import "scss/partials/_mixin.scss";





*{
	margin: 0;
	padding: 0;
}
body {
	font-family: serif;
	margin: 0;
	background-color: map-get($color_1, fondo); 
	background-size: 100%;
	font-family: 'Roboto', sans-serif;
	position: relative;
	padding-bottom: 100px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.logo {
	a {
		padding: 20px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 30px;
		color: rgba(255, 255, 255, 0.935);
		&:hover{
			color: map-get($color_1 , hover );
		}
	}
}
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	margin: 0;
	background-color:$color_header_footer;
	height: 90px;
	color: whitesmoke;
}
a {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	padding: 20px;
	font-size: 20px;
	color: whitesmoke;
	font-weight: bold;
	
	&:hover{
		color: map-get($color_1,hover );
	}
}
ul {
	display: flex;
	padding: 50px;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
p {
	display: flex;
	align-items: center;
	font-size: 20px;
	padding-left: 25%;
	padding-right: 25%;
	color: black;
}
h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	padding: 10px;
}
main {
	display: grid;
}
.grilla__origen {
	grid-template-columns: 50% 50%;
	grid-template-rows:  100px 900px;
	grid-template-areas: "area1 area1""area2 area2" ;
	.grilla__origen__h2 {
		@include subtitulo(black, area1 )
	}
	.grilla__origen__carta {
		display: flex;
		justify-content: center;
		grid-area: area2;
		#grilla__origen__img{
			width: 600px;
			height: 400px;
			box-shadow: 5px 5px 10px black;
			border-radius: 8px;
		}
	}
		

	}


.grilla__produccion {
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	grid-template-areas: "area1 area2" "area3 area4";
}
.grilla__produccion__h2{
	@include subtitulo_produccion(black,area3 );
	
	
}
.grilla__produccion__txt {
	@include parrafo(black,area3 );
	align-items: center;
	padding-top: 70px;
}

.grilla__produccion__txt__2{
	@extend .grilla__produccion__txt;
	grid-area: area1;
}
.grilla__produccion__img {
	display: flex;
	grid-area: area2;
	width: 100%;
	height: auto;
	padding-top: 10%;
	padding-right: 5%;
}
.grilla__produccion__mapa {
	display: flex;
	padding-top: 10%;
}
.grilla__produccion__h2__2 {
	@include subtitulo_produccion(black,area1 );
	
}

.grilla__comprar {
	grid-template-columns: 50% 50%;
	grid-template-rows: 100px 800px 200px;
	grid-template-areas: "area1 area1" "area3 area3" "area4 area4";
}
.grilla__comprar__h1 {
	@include subtitulo(black,area1 );
	padding-top: 20px;
}
.grilla__comprar__carousell {
	grid-area: area3;
}
.grilla__comprar__boton {
	grid-area: area4;
	padding-left: 37%;
	padding-top: 20px;
	justify-content: center;
}

.grilla__contacto {
	grid-template-columns: 50% 50%;
	grid-template-rows: 100px 400px;
	grid-template-areas: "area1 area1" "area3 area3";
}
.grilla__contacto__form {
	grid-area: area3;
	width: 65%;
	height: 20%;
}

.grilla__contacto__h2 {
	@include subtitulo(black,area1 );

}

.main__grilla {
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 200px 1fr 200px;
	grid-template-areas: "area1 area1" "area3 area3" "area4 area4" "area5 area5";
	justify-content: space-evenly;
	align-content: space-around;
}
.main__grilla__h2{
	@include subtitulo(black, area1);
	

}
.main__grilla__txt {
	@include parrafo(black, area3);
}
.main__grilla__h2__2 {
	@include subtitulo(black, area4 );
}
.main__grilla__txt__2{
	@include parrafo(black, area5);
}




footer {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	p {
		padding-left: 2%;
		color: black;
		font-weight: lighter;
		font-size: 15px;
		bottom: 0;
	}
}
.footer {
	height: 50px;
	display: flex;
	background-color: $color_header_footer;
	margin: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
}
@media screen and (max-width:788px) {
	.header__logo {
		a {
			padding: 10px;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 20px;
			color: white;
		}
	}
	.header {
		display: flex;
		grid-area: area0;
		flex-direction: column;
		height: 100%;
	}
	.nav__lista__item {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		color: white;
		font-size: 10px;
		font-weight: bold;
		padding: 5px;
		&:hover {
			color:$color_hover;
		}
	}
	.nav__lista{
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.main__grilla {
		grid-template-columns: 50% 50%;
		grid-template-rows: 90px 270px 90px 270px;
		grid-template-areas: "area1 area1" "area3 area3" "area4 area4" "area5 area5";
		
	}
	.main__grilla__h2{
		@include subtitulo_mobile(black, area1);	
	}
	.main__grilla__txt {
		@include parrafo_mobile(black,area3);
		
	}
	.main__grilla__h2__2 {
		@include subtitulo_mobile(black, area4);
	}
	.main__grilla__txt__2{
		@include parrafo_mobile(black,area5 );
	}
	.grilla__produccion{
		grid-template-columns: 100%;
		grid-template-rows: 80px 240px 340px 60px 300px 300px;
		grid-template-areas: "area1 ""area2" "area3" "area4" "area5" "area6";
	}

	
	.grilla__produccion__img {
		grid-area: area2;
		display: block;	
		width: 350px;
		height: 95%;;	
		margin: auto;

	}
	.grilla__produccion__h2 {
		@include subtitulo_mobile(black,area1 )
	}
	.grilla__produccion__txt {
		@include parrafo_mobile(black,area3 );
	}
	.grilla__produccion__mapa {
		grid-area: area5;
		display: blocking;
		margin: auto;
		width: 350px;
		height: 95%;
		padding-top: 4%;
	}
	.grilla__produccion__txt__2  {
		@include parrafo_mobile(black,area6);
	}
	.grilla__produccion__h2__2 {
		@include subtitulo_mobile(black,area4 )
	}
	.grilla__origen {
		grid-template-columns: 50% 50%;
		grid-template-rows: 70px 500px;
		grid-template-areas: "area1 area1" "area2 area2";
		.grilla__origen__h2 {
			grid-area: area1;
			font-size: 20px;
			grid-area: area1;
		}
		.grilla__origen__carta {
			display: flex;
			justify-content: center;
			grid-area: area2;
			#grilla__origen__img{
				width: 300px;
				height: 170px;
				box-shadow: 5px 5px 10px black;
				border-radius: 8px;
				grid-area: area2;
			}
		}
	}

	.grilla__comprar {
		grid-template-columns: 50% 50%;
		grid-template-rows: 90px 400fr 150px;
		grid-template-areas: "area1 area1" "area3 area3" "area4 area4";
	}
	.grilla__comprar__h1 {
		@include subtitulo_mobile(black,area1 )
	}
	.grilla__comprar__boton {
		padding-left: 37%;
		padding-top: 20px;
	}
	
	.grilla__comprar__propiedades__boton{
		width: 100px;
		height: 45px;
		font-size: 20px;
	}
	.grilla__contacto {
		grid-template-columns: 50% 50%;
		grid-template-rows: 80px 200px;
		grid-template-areas: "area1 area1" "area3 area3";
	}

	
	.grilla__contacto__h2 {
		@include subtitulo_mobile(black,area1 );
		font-size: 22px;
	}
}


