
@import "scss/partials/_variables.scss";
@import "scss/partials/_mixin.scss";





*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: serif;
	margin: 0;
	background-color: map-get($color_1, fondo); 
	background-size: 100%;
	font-family: 'Roboto', sans-serif;
	position: relative;
	padding-bottom: 100px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.header__logo {
	
	a {
		display: flex;
		padding-top: 3px;
		
		flex-direction: row;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 30px;
		color: rgba(255, 255, 255, 0.935);
		&:hover{
			color: map-get($color_1 , hover );
		}
	}
}





header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	margin: 0;
	background-color:$color_header_footer;
	height: 90px;
	color: whitesmoke;
	padding-top: 2%;
}
a {
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	padding: 15px;
	font-size: 20px;
	color: whitesmoke;
	font-weight: bold;
	padding-top: 30px;
	&:hover{
		color: map-get($color_1,hover );
	}
}
ul {
	display: flex;
	padding: 50px;
	align-items: center;
	justify-content: space-between;
	list-style: none;
}
p {
	display: flex;
	align-items: center;
	font-size: 20px;
	padding-left: 25%;
	padding-right: 25%;
	color: black;
}
h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	padding: 10px;
}
main {
	display: grid;
}
.grilla__origen {
	display: flex;
}

.nota__sticky {
	position:fixed;
	color: antiquewhite;
	top: 0px;
	background-color: rgba(255, 68, 0, 0.657);
	border-radius: 20px;
	height: 100px;
	line-height: 25px;
	bottom: 30px;
	right: 37%;
	text-align: center;
	top: 12%;
}

.nota__sticky p{
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 8%;
	font-size: 20px;
}

.section{
	padding-top: 10%;
	width: 33%;
	height: 60vh;
	background-color: $color_fondo;
	display: flex;
	justify-content: center;
	grid-area: area2;
}

.box{
	width: 100%;
	height: 50vh;
	text-align: center;
	overflow: hidden;
	position: relative;
	margin: 1.5%;
	border-radius: 10px;
	grid-area: area2;
}

.box img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	grid-area: area2;
}

.box .hover{
	width: 0%;
	height: 50vh;
	background-color: rgba(23, 20, 20, 0.717);
	position: absolute;
	top:0;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 1s;
	color: aliceblue;
	grid-area: area2;
}

.hover p{
	color: aliceblue;
	text-shadow: 1px 1px 1px black;
	font-size: 2.5em;
	text-transform: random($limit: 1);
	grid-area: area2;
}

.box:hover .hover{
	width: 100%;
	grid-area: area2;
}

p{
	color: aliceblue;
	grid-area: area2;
}

#button{
	display: flex;
	position: absolute;
	bottom: 20%;
	padding-left: 10%;
	padding-top: 5%;
}

#button2{
	display: flex;
	position: absolute;
	bottom: 20%;
	padding-left: 76.5%;
	padding-top: 5%;
}

#button3{
	display: flex;
	position: absolute;
	bottom: 20%;
	padding-left: 42%;
	padding-top: 5%;
}


.grilla__produccion {
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	grid-template-areas: "area1 area2" "area3 area4";
}
.grilla__produccion__h2{
	@include subtitulo_produccion(black,area3 );
	
	
}
.grilla__produccion__txt {
	@include parrafo(black,area3 );
	align-items: center;
	padding-top: 70px;
}

.grilla__produccion__txt__2{
	@extend .grilla__produccion__txt;
	grid-area: area1;
}
.grilla__produccion__img {
	display: flex;
	grid-area: area2;
	width: 100%;
	height: auto;
	padding-top: 10%;
	padding-right: 5%;
}
.grilla__produccion__mapa {
	display: flex;
	padding-top: 10%;
}
.grilla__produccion__h2__2 {
	@include subtitulo_produccion(black,area1 );
	
}

.grilla__comprar {
	grid-template-columns: 50% 50%;
	grid-template-rows: 100px 800px 200px;
	grid-template-areas: "area1 area1" "area3 area3" "area4 area4";
}
.grilla__comprar__h1 {
	@include subtitulo(black,area1 );
	padding-top: 20px;
}
.grilla__comprar__carousell {
	grid-area: area3;
}
.grilla__comprar__boton  {
	grid-area: area4;
	padding-top: 5%;
}

        


.grilla__contacto {
	grid-template-columns: 50% 50%;
	grid-template-rows: 100px 400px 200px;
	grid-template-areas: "area1 area1" "area3 area3" "area4 area4";
}
.grilla__contacto__form {
	grid-area: area3;
	width: 65%;
	height: 20%;
}

.grilla__contacto__h2 {
	@include subtitulo(black,area1 );
}

.grilla__contacto__txt{
	@include parrafo(black,area4);
	justify-content: center;
}

.main__grilla {
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr 200px 1fr 200px;
	grid-template-areas: "area1 area1" "area3 area3" "area4 area4" "area5 area5";
	justify-content: space-evenly;
	align-content: space-around;
}
.main__grilla__h2{
	@include subtitulo(black, area1);
	

}
.main__grilla__txt {
	@include parrafo(black, area3);
}
.main__grilla__h2__2 {
	@include subtitulo(black, area4 );
}
.main__grilla__txt__2{
	@include parrafo(black, area5);
}




footer {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	p {
		padding-left: 2%;
		color: black;
		font-weight: lighter;
		font-size: 15px;
		bottom: 0;
	}
}
.footer {
	height: 50px;
	display: flex;
	background-color: $color_header_footer;
	margin: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-top: 20px;
}
@media screen and (max-width:788px) {
	.header__logo {
		a {
			padding: 10px;
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 20px;
			color: white;
		}
	}
	.header {
		display: flex;
		grid-area: area0;
		flex-direction: column;
		height: 100%;
	}
	.nav__lista__item {
		text-decoration: none;
		display: flex;
		flex-direction: column;
		color: white;
		font-size: 15px;
		font-weight: bold;
		padding: 6.5px;
		&:hover {
			color:$color_hover;
		}
	}
	.nav__lista{
		display: flex;
		flex-direction: column;
		padding: 0;
	}

	.main__grilla {
		grid-template-columns: 50% 50%;
		grid-template-rows: 50px 220px 50px 220px;
		grid-template-areas: "area1 area1" "area3 area3" "area4 area4" "area5 area5";
		
	}

	.textos__index{
		display: flex;
		justify-content: center;
		flex-direction: row;
	}
	.main__grilla__h2{
		@include subtitulo_mobile(black, area1);	
		
	}
	.main__grilla__txt {
		@include parrafo_mobile(black,area3);
		
		padding-left: 3%;
		padding-right: 3%
	}
	.main__grilla__h2__2 {
		@include subtitulo_mobile(black, area4);
	}
	.main__grilla__txt__2{
		@include parrafo_mobile(black,area5 );
		padding-left: 3%;
		padding-right: 3%
	}
	.grilla__produccion{
		grid-template-columns: 100%;
		grid-template-rows: 80px 240px 200px 60px 300px 220px;
		grid-template-areas: "area1 ""area2" "area3" "area4" "area5" "area6";
	}

	
	.grilla__produccion__img {
		grid-area: area2;
		display: block;	
		width: 350px;
		height: 95%;;	
		margin: auto;
		padding-left: 3%;
		padding-right: 3%
	}
	.grilla__produccion__h2 {
		@include subtitulo_mobile(black,area1 )
	}
	.grilla__produccion__txt {
		@include parrafo_mobile(black,area3 );
		padding-left: 3%;
		padding-right: 3%
	}
	.grilla__produccion__mapa {
		grid-area: area5;
		display: blocking;
		margin: auto;
		width: 350px;
		height: 95%;
		padding-top: 4%;
		padding-left: 3%;
		padding-right: 3%
	}
	.grilla__produccion__txt__2  {
		@include parrafo_mobile(black,area6);
		padding-left: 3%;
		padding-right: 3%
	}
	.grilla__produccion__h2__2 {
		@include subtitulo_mobile(black,area4 )
	}


	.grilla__origen {
		display: flex;
		flex-direction: column;
		justify-content: center;
		
	}
	
	.nota__sticky {
		position:fixed;
		color: antiquewhite;
		top: 0px;
		background-color: rgba(255, 68, 0, 0.657);
		border-radius: 20px;
		height: 75px;
		line-height: 25px;
		bottom: 30px;
		right: 2%;
		text-align: center;
		top: 80%;
	}
	
	.nota__sticky p{
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 5%;
		font-size: 17px;
	}

	.section{
		padding-left: 3%;
		padding-top: 0%;
		width: 95%;
		height: 50vh;
		background-color: map-get($color_1 , fondo );
		display: flex;
		justify-content: center;
		grid-area: area2;
	}
	
	.box{
		width: 100%;
		height: 50vh;
		text-align: center;
		overflow: hidden;
		position: relative;
		margin: 1.5%;
		border-radius: 0px;
		grid-area: area2;
	}
	
	.box img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		grid-area: area2;
		padding-top: 5%;
	}

	.box .hover{
		width: 0%;
		height: 60vh;
		background-color: rgba(23, 20, 20, 0.717);
		position: absolute;
		top:4%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		transition: 1s;
		color: aliceblue;
		grid-area: area2;
		object-fit: cover;
	}

	p{
		display: flex;
		font-size: 16px;
		padding-left: 50%;
	}

	
	.hover p{
		font-size: 20px;
		padding-top: 1%;
		padding-right: 45%;
	}
	

	.grilla__comprar {
		grid-template-columns: 50% 50%;
		grid-template-rows: 90px 400fr 150px;
		grid-template-areas: "area1 area1" "area3 area3" "area4 area4";
	}
	.grilla__comprar__h1 {
		@include subtitulo_mobile(black,area1 )
	}
	.grilla__comprar__boton {
		display: flex;
		grid-area: area4;
		padding-left: 0%;
		padding-right: 35%;
		justify-content: center;
	}
	
	
	.grilla__contacto {
		grid-template-columns: 50% 50%;
		grid-template-rows: 80px 400px 150px;
		grid-template-areas: "area1 area1" "area3 area3" "area4 area4";
	}

	
	.grilla__contacto__h2 {
		@include subtitulo_mobile(black,area1 );
		font-size: 22px;
	}

	.grilla__contacto__txt{
		@include parrafo_mobile(black,area4);
		justify-content: center;
		padding-left:5%;
		padding-right: 3%;
	}
}


